/* .site-drawer-render-in-current-wrapper {
    position: relative;
    height: 200px;
    padding: 48px;
    overflow: hidden;
    text-align: right;
    border: 1px solid #ebedf0;
    border-radius: 2px;
  } */
  
   /* anticon-search svg{
    color: white;
  }
   */
  /* .headerDrawer p{
    text-align: left;
  } */
  
  /* .ant-drawer-header{
    border-bottom: 1 px solid #394269;
  }
  
  .ant-drawer-content-wrapper {
     width: 100px;
  }
  
   */